@model Task6.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Авторизация";
}


<div class="container col-sm-6">
    <div class="col-md-10 offset-md-1">
        <section>
            <form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
                <h4 class="text-center">Окно авторизации</h4>
                <hr />
                <div class="login-form-icon text-center">
                    <i class="fas fa-user-circle fa-8x text-secondary"></i>
                </div>
                <hr />
                <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
                <div>
                    <div class="form-group">
                        <label asp-for="Name">Введите логин</label>
                        <input type="text" asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Введите пароль</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Авторизоваться</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-action="Register">Зарегистрировать нового пользователя</a>
                        </p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>